.root {
    width: 100%;
}

.topLine {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topLine img {
    width: 150px;
    height: 150px;

    border-radius: 50%;
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.infoItem {
    margin: 6px 0;
}

.value {
    text-decoration: underline;
    cursor: pointer;
}