.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;

    .videoTitle {
        width: 100%;
        height: 200px;

        display: flex;
        align-items: center;
        justify-content: center;

        background: linear-gradient(-45deg, #000000, #222222, #5200b1, #0088a0, #000000);
        background-size: 600% 600%;
        animation: gradient 20s ease infinite;
        animation-delay: 5s;
        background-position: 100% 100%;

        @media screen and (max-width: 900px) {
            height: 100px;

            .title {
                font-size: 50px;
             }
        }

         @media screen and (max-width: 550px) {
            display: none;
        }
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #000;
        font-size: 150px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        line-height: 0.85em;
        mix-blend-mode: multiply;
        font-weight: 800;
    }

    .block {
        display: flex;
        gap: 24px;
        width: 100%;
        padding: 16px;
        flex-wrap: wrap;

        &.list {
            flex-direction: column;
            gap: 8px;
        }
    }
}

.grid { 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

        @media screen and (max-width: 1000px) {
            grid-template-columns: repeat(4, 1fr);
        }

    @media screen and (max-width: 550px) {
            grid-template-columns: repeat(2, 1fr);
        }
}

@keyframes gradient {
    0% {
        background-position: 100% 100%;
    }

    5% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 0% 20%;
    }

    100% {
      background-position: 100% 100%;
    }
}