.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;

    .videoTitle {
        width: 100%;
        height: 200px;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        video {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            filter: brightness(200%);
        }

        @media screen and (max-width: 900px) {
            height: 100px;

            .title {
                font-size: 50px;
             }
        }

         @media screen and (max-width: 550px) {
            display: none;
        }
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #000;
        font-size: 150px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        line-height: 0.85em;
        mix-blend-mode: multiply;
        font-weight: 800;
    }

    .block {
        display: flex;
        gap: 24px;
        width: 100%;
        padding: 16px;
        flex-wrap: wrap;

        &.list {
            flex-direction: column;
            gap: 8px;
        }
    }
}

.grid { 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

        @media screen and (max-width: 1000px) {
            grid-template-columns: repeat(4, 1fr);
        }

    @media screen and (max-width: 550px) {
            grid-template-columns: repeat(2, 1fr);
        }
}