.scrollContainer {
    overflow: scroll;
    width: 100%;

    display: flex;
    gap: 16px;
    padding: 8px 0;
    
    &::-webkit-scrollbar {
        margin-top: 4px;
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        display: none;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent ; 
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(65, 65, 65);
        border-radius: 8px;
    }
}
